/* light & dark mode color */

:root {
  --background-color: #fff;
  --card-background-color: #fff;
  --bubble-color: #eee;

  --shadow-color: rgba(0, 0, 0, 0.1);
  --main-color: #3478f6;

  --border-color: #dddfe2;
  --font-color: black;

  --form-font-color: #242424;
  --title-font-size: 65px;

  --form-width: 450px;
  --form-height: 320px;
  --form-pd: 40px 0 40px 0;

  --signUp-mg: 13px;
  --signUp-pd: 0;

  --form-header-top: 440px;
  --form-header-text-pd: 30px;

  --flex-direction: row;

  /* icon */

  --darkmode-icon: url("../../../Assets/Image/moon.png");
  --email-icon: url("../../../Assets/Image/LoginPage/icon_mail.png");
  --user-icon: url("../../../Assets/Image/LoginPage/icon_user.png");
  --password-icon: url("../../../Assets/Image/LoginPage/icon_lock.png");
  --colleage-icon: url("../../../Assets/Image/LoginPage/icon_colleage.png");
  --id-icon: url("../../../Assets/Image/LoginPage/icon_id.png");
  --check-icon: url("../../../Assets/Image/LoginPage/icon_check.png");
  --check-on-icon: url("../../../Assets/Image/LoginPage/icon_check_on.png");
  --envelope-icon: url("../../../Assets/Image/LoginPage/icon_envelope.png");

  /* image */

  --beacon-image: url("../../../Assets/Image/MainPage/Light/beacon_light.png");
  --attendance-image: url("../../../Assets/Image/MainPage/Light/attendance_light.png");
  --lecture-image: url("../../../Assets/Image/MainPage/Light/lecture_light.png");
  --bubble-image: url("../../../Assets/Image/MainPage/Light/bubble_light.png");
}

.dark {
  --background-color: #171717;
  --card-background-color: #242424;
  --bubble-color: #444;

  --shadow-color: rgba(0, 0, 0, 0.1);
  --main-color: #3478f6;
  --border-color: rgb(56, 56, 56);

  --form-font-color: #d2d2d2;
  --font-color: #fff;

  /* icon */

  --darkmode-icon: url("../../Assets/Image/sun.png");

  /* image */

  --beacon-image: url("../../../Assets/Image/MainPage/Dark/beacon_dark.png");
  --attendance-image: url("../../../Assets/Image/MainPage/Dark/attendance_dark.png");
  --lecture-image: url("../../../Assets/Image/MainPage/Dark/lecture_dark.png");
  --bubble-image: url("../../../Assets/Image/MainPage/Dark/bubble_dark.png");
}

.signUp {
  --form-width: 435px;
  --form-pd: 25px 0 25px 0;
  --signUp-pd: 40px;

  --title-font-size: 45px;

  --flex-direction: column;
}

.error {
  --signUp-mg: 0;
  --border-color: red;
}

.findPw {
  --form-width: 420px;

  --signUp-pd: 40px;
  --form-pd: 20px 0 20px 0;

  --title-font-size: 45px;
  --flex-direction: column;
}

.check {
  --form-width: 420px;
  --flex-direction: column;

  --signUp-pd: 40px;

  --form-pd: 20px 0 20px 0;
  --form-header-top: 390px;

  --title-font-size: 45px;
  --form-header-text-pd: 40px;
}

/* font color */

$gradient-first: #015eea;
$gradient-end: #00c0fa;

$font-white: white;
$font-gray: #7b7b7b;

/* font */
$logo-font: "AppleTea-z8R1a";
$main-font: "KakaoRegular";

@font-face {
  font-family: "AppleTea-z8R1a";
  src: url(../../Assets/Font/AppleTea-z8R1a.woff);
}
