/* light & dark mode color */

:root {
  --background-color: #fff;
  --form-background-color: #fff;

  --shadow-color: rgba(0, 0, 0, 0.1);
  --main-color: #3478f6;

  --border-color: #dddfe2;
  --font-color: black;

  --form-font-color: #242424;

  --form-width: 450px;
  --form-height: 350px;
  --input-width: 350px;

  --darkmode-icon: url("../../../Assets/Image/moon.png");
  --search-icon: url("../../../Assets/Image/search.png");

  --flex-direction: row;
}

.dark {
  --background-color: #1c1c1c;
  --form-background-color: #242424;

  --shadow-color: rgba(0, 0, 0, 0.1);
  --main-color: #3478f6;
  --border-color: rgb(56, 56, 56);

  --form-font-color: #d2d2d2;
  --font-color: #fff;

  --darkmode-icon: url("../../Assets/Image/sun.png");
  --search-icon: url("../../Assets/Image/search_dark.png");
}

}

/* font color */

$gradient-first: #015eea;
$gradient-end: #00c0fa;

$font-white: white;
$font-gray: #7b7b7b;

/* font */
$logo-font: "AppleTea-z8R1a";
$main-font: "KakaoRegular";

@font-face {
  font-family: "AppleTea-z8R1a";
  src: url(../../Assets/Font/AppleTea-z8R1a.woff);
}
