@import "../variable.module";

.form_container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: var(--form-width);
  height: var(--form-height);

  box-shadow: 0 2px 4px var(--shadow-color), 0 8px 16px var(--shadow-color);
  border-radius: 13px;

  margin: 20px 40px 40px 40px;
  background-color: var(--form-background-color);

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;

    .form_section {
      display: flex;
      flex-direction: column;
      align-items: center;

      .form_item {
        display: flex;
        align-items: center;
        position: relative;

        padding-left: 42px;
        margin-bottom: 13px;

        width: 330px;
        height: 50px;

        background-color: var(--form-background-color);
        border: 1px solid var(--border-color);
        border-radius: 8px;

        &::before {
          content: "";
          position: absolute;

          background-size: 20px;
          background-repeat: no-repeat;
          background-position: 10px center;

          width: 40px;
          height: 40px;
          left: 5px;
        }
      }

      .email::before {
        background-image: var(--email-icon);
        margin-left: -2px;
      }

      .password::before {
        background-image: var(--password-icon);
        background-size: 16px;
      }

      .phone::before {
        background-image: var(--phone-icon);
        background-size: 13px;
        margin-left: 2px;
      }

      .user::before {
        background-image: var(--email-icon);
        margin-left: -2px;
      }

      .id::before {
        background-image: var(--id-icon);
        background-size: 23px;
        margin-left: -3px;
        margin-top: 2px;
      }

      .colleage::before {
        background-image: var(--colleage-icon);
        background-size: 23px;
        margin-bottom: 4px;
      }

      .colleage::after {
        content: "";
        display: block;
        position: absolute;

        left: 45%;

        width: 1px;
        height: 50px;

        background-color: var(--border-color);
      }

      .blind {
        position: absolute;
        margin: 0 5px 3px -27px;

        width: 20px;
        height: 20px;

        overflow: hidden;
      }

      .agree_text {
        font-size: 16px;
        color: $font-gray;
      }

      select,
      input {
        background-color: var(--form-background-color);
        border: none;
        outline: none;
      }

      select {
        margin-right: 45px;

        font-size: 15px;
        height: 50px;
        color: $font-gray;
      }

      input {
        font-size: 16px;
        color: var(--font-color);
      }
    }

    .button_container {
      .button {
        width: 375px;
        height: 55px;

        background-color: var(--main-color);
        border-radius: 8px;
        border: none;

        font-size: 20px;
        color: $font-white;
      }
    }
  }

  .a_text {
    display: flex;
    justify-content: center;

    margin: 20px;

    .new_account {
      border-right: 1px solid $font-gray;
    }

    a {
      padding: 0 10px 0 10px;
      text-decoration: none;
      color: var(--form-font-color);
    }
  }
}
