@import "../variable.module";

.login_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 450px;
  height: 350px;

  box-shadow: 0 2px 4px var(--shadow-color), 0 8px 16px var(--shadow-color);
  border-radius: 13px;

  margin: 25px;
  background-color: var(--form-background-color);

  & input {
    display: flex;

    padding-left: 12px;
    margin: 15px;

    width: 350px;
    height: 55px;

    background-color: var(--form-background-color);
    border: 1px solid var(--border-color);
    border-radius: 8px;

    font-size: 16px;
  }

  & .login_button {
    width: 368px;
    height: 55px;

    background-color: var(--main-color);
    border-radius: 8px;
    border: none;

    font-size: 20px;
    color: $font-white;
  }

  & .a_text {
    margin: 20px;

    & .new_account {
      border-right: 1px solid $font-gray;
    }

    a {
      padding: 0 10px 0 10px;
      text-decoration: none;
      color: $font-gray;
    }
  }
}
